#searchzinho {
	color: #fff;
}

#navbartabs {
	margin-right: 50%;
}

.navicons {
	color: #ccc;
}

.navicons:focus {
	color: #000;
}

#mainimg {
	width: 100%;
}

#titlemain {
	color: #000;1
}

@media screen and (max-width: 992px) {
	#lol img {
		margin-top: 6rem;
	}
}

.mdl-chip {
	background-color: #ffabc1!important;

}

#chipsdiv {
	margin-top: 0.5rem!important;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

#divcards {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
}